// COMPILE THIS TO CSS VIA: "stylus -u jeet -u nib -w RainbowUnicorn.styl" (from a command line)

// MIXINS - VENDOR
@import     'jeet'
@import     'nib'
// ASSETS - VENDOR
@import     url('http://fonts.googleapis.com/css?family=PT+Sans')


// MIXINS - CUSTOM // @TODO: Refactor  mixins to use PARAMETERS
pw-button()
  background          linear-gradient(top, ts_clr_button_light, ts_clr_button_dark)
  background-color    black
  border-radius       0.3em
  border              none
  border-top          1px solid #999
  border-bottom       1px solid #000
  display             inline-block
  padding             0.2em 0.5em
  margin              0 0.2em
  color               ts_clr_text_light
  font-size           1em
pw-button-active()
  background          linear-gradient(top, ts_clr_active, ts_clr_active)
pw-button-action()
  background          linear-gradient(top, ts_clr_action, ts_clr_action)
pw-button-disabled()
  background          linear-gradient(top, ts_clr_active, ts_clr_active)
  color               ts_clr_text_dark
pw-button-warning()
  background          linear-gradient(top, ts_clr_warning, ts_clr_warning)
  border-top          1px solid #f99
// ASSETS - CUSTOM
// ...


// COMPONENTS CUSTOM
@import     '../DEPS/Complexform'
@import     '../DEPS/DynaWrapper'


// BREAKPOINTS
tagesspiegel_maxBreakpoint            = 1200px


// FONT
tagesspiegel_baseFontSize             = 16px


// COLOR
tagespiegel_color_white               = #ffffff
tagespiegel_color_smokewhite          = #dde3ec
tagespiegel_color_lightgrey           = #58606d
tagespiegel_color_grey                = #999999
tagespiegel_color_black               = #000000
tagesspiegel_color_babyblue           = #99bbff
tagesspiegel_color_blue               = #3333cc
tagesspiegel_color_active             = #71AF5A
tagesspiegel_color_processing_border  = #57A957

ts_clr_page_background                = #dde3ec
ts_clr_header_light                   = #58606d
ts_clr_header_dark                    = #3b4453
ts_clr_button_light                   = #737c8c
ts_clr_button_dark                    = #47597b

ts_clr_text_light                     = #ffffff
ts_clr_text_dark                      = #262c36
ts_clr_text_medium                    = #58606d
ts_clr_active_cells                   = #aac7e8

ts_clr_active                         = #aac7e8
ts_clr_action                         = #71aff4
ts_clr_warning                        = #f47180

// MEDIA
tagesspiegel_backgroundImage          = url('media/noise.png')

// INITIALIZE & THEME COMPONENTS
Component_Complexform(
  maxWidth:           tagesspiegel_maxBreakpoint,
  baseFontSize:       tagesspiegel_baseFontSize,
  backgroundColor:    tagespiegel_color_smokewhite,
  borderColor:        tagesspiegel_color_blue,
  shadowColor:        tagespiegel_color_black,
  backgroundImage:    tagesspiegel_backgroundImage
)
Component_Dynatable(
  baseFontSize:       tagesspiegel_baseFontSize,
  fontColor1:         ts_clr_text_light,
  fontColor2:         tagespiegel_color_grey,
  backgroundColor1:   tagespiegel_color_white,
  backgroundColor2:   tagesspiegel_color_active,
  backgroundColor3:   tagespiegel_color_lightgrey,
  borderColor1:       tagesspiegel_color_processing_border,
  borderColor2:       tagespiegel_color_black,
  borderColor3:       tagespiegel_color_grey
)


// BASIC STYLES
body
  background-color    ts_clr_page_background
  background-image    tagesspiegel_backgroundImage
  font-family         'PT Sans', sans-serif;
  padding             0
  margin              0


// SINGLETON PAGE ELEMENTS
#RainbowUnicorn
  width               tagesspiegel_maxBreakpoint
  padding             0.5em

#TEMPLATES
  display             none
/////////////////////////////////////////////
