body { // 100% Cross Browser Centered Background Image
     background: url('/assets/landingpage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage.jpg', sizingMethod='scale');
}

    #maincontent {
      background-image      : url('/assets/landingpage.jpg');
      background-repeat     : no-repeat;

      background-position   : center  center; /* default: horizontal, vertical */
          /*background-position:  <Hintergrundposition>[, <Hintergrundposition>]*

          <Hintergrundposition>:
            [ [ <Prozentzahl> | <Länge> | left | center | right ] ]
            [ [ <Prozentzahl> | <Länge> | top | center | bottom ] ]?
          |
            [ center | [ left | right ] [ <Prozentzahl> | <Länge> ]? ] || [ center | [ top | bottom ] [ <Prozentzahl> | <Länge> ]? ] ]
          |
            inherit*/

      background-attachment : fixed;

      background-size: cover;
      -webkit-background-size: cover; /* For WebKit*/
      -moz-background-size: cover;    /* Mozilla*/
      -o-background-size: cover;      /* Opera*/
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage.jpg',     sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/landingpage.jpg', sizingMethod='scale');
    }
/*Update: Matt Litherland writes in to say that anyone trying to use the above IE filters and having problems with scrollbars or dead links or whatever else (like Pierre above) should try NOT using them on the html or body element. But instead a fixed position div with 100% width and height.*/
